.main-footer{
    background-color: var(--wp--preset--color--dark-blue);
   .footer-image-placeholder{
        width: 100%;
        height: auto;
   }

   &__wrapper{
        border-radius: 70px;
        background-color: #F4F4F4;
        background-position: bottom right;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        padding: 100px 100px 60px 100px;
        margin-bottom: 200px;
        display: flex;
        gap: 60px;
        position: relative;
        overflow: hidden;
   }
   &__bg-image-bottom{
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 55%;
        height: auto;
        z-index: 0;
   }
   .footer-menu{
    ul{
        list-style: none;
        padding: 0;
        margin: 0px;
        li{
            margin-bottom: 12px;
            &:last-of-type{
                margin-bottom: 0;
            }
            a{
                color: #000B40;
                font-family: $font-family-secondary;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 25.6px */
            }
        }
    }
   }
}