@import "_variable";
input,
textarea,
select,
button {
    font: inherit;
    margin: 0;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    line-height: 1.5;
    resize: none;
    &:focus {
        outline: none;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../../img/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
    padding-right: 2.5rem;
    cursor: pointer;
}
textarea {
    min-height: 100px;
    padding: 0.75rem 1rem;
    border: 1px solid var(--Gray-gray-300);
    border-radius: var(--border-radius-xs);
    transition: var(--transition);
    &:focus {
        border-color: var(--Light-blue);
    }
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="color"] {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--Gray-gray-300);
    border-radius: var(--border-radius-xs);
    transition: var(--transition);
    &:focus {
        border-color: var(--Light-blue);
    }
}
input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.5rem;
    vertical-align: middle;
    &:focus {
        outline: 2px solid var(--Light-blue);
        outline-offset: 2px;
    }
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.form-group {
    margin-bottom: 1.5rem;
}