.site {
  position : relative;

  // Styles from here
  &-header {
	--cy-branding-ml   : 48px;
	--cy-navigation-mr : 58px;

	min-height         : var(--cy-header-h);

	position           : absolute;
	display            : flex;
	width              : 100%;

	z-index            : 10;
	top                : 0;
	transition         : background-color 400ms ease;

	@include desktop {
	  --cy-branding-ml : 49px;
	}
	@include tablet-lg{
	  --cy-branding-ml   : 32px;
	  --cy-navigation-mr : 32px;

	}
	@include tablet {
	  --cy-branding-ml   : 0px;
	  --cy-navigation-mr : 0px;
	}

	&.hiddeNavBar {
	  transform : translateY(calc(-100% - 20px));
	}

	&.header-top-animation {
	  //background-color : rgba(23, 24, 69, .91);
	  transition       : transform 400ms ease, background-color 400ms ease, height 400ms linear;
	  min-height       : 90px;
	}

      .content-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 860px;
        margin: 0 auto;
        background-color: var(--color-white);
        padding: 14px 14px 14px 30px;
        border-radius: 23px;
        width: 100%;
        position: relative;
        top: 20px;
        transition: all 400ms ease;
        @include tablet {
            gap: 5px;
        }
        @include mobile-sm {
            padding: 13px 18px;
        }

	}

	.custom-logo-link{
      display: block;
      margin: 0px;
      .custom-logo{
        max-width: 230px;
        width: 100%;
        height: auto;
        @include tablet {
          max-width: 180px;
        }
        @include mobile-sm {
          max-width: 65px;
        }
      }
    }

    .menu-toggle {
      display: none;
      @include tablet {
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 10;
        padding: 10px 12px;
        border-radius: 50%;
        background-color: transparent;
        transition: .3s all;
        width: 50px;
        height: 50px;
        text-align: center;
        justify-content: center;
        @include mobile-sm {
          width: 40px;
          height: 16px;
          padding: 0px 10px;
        }
        .toggle-text {
          font-size: 18px;
          font-weight: 700;
          color: $c-blue;
          display: none;
        }

        .toggle-icon {
          position: relative;
          display: block;
          width: 25px;
          height: 17px;
          border-bottom: 0px;
          transition: .3s all;
          border-radius: 1px;
          @include mobile-sm {
            height: 12px;
          }
          .toggle-icon-bar{
            height: 3px;
            background: var(--wp--preset--color--dark-blue);
            position: absolute;
            left: 0;
            width: 100%;
            transition: .3s all;
            border-radius: 1px;
            @include mobile-sm {
              height: 2px;
            }
            &:nth-child(1){
              top: 0px;
              width: 12px;
              left: 4px;
            }
            &:nth-child(2){
              top: 7px;
              @include mobile-sm {
                top: 5px;
              }
            }
            &:nth-child(3){
              bottom: 0px;
              width: 12px;
              left: 4px;
            }
          }
        }
      
      }
    }
  }
}
