@import "_variable";
.popup-modal{
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 40px;
    border: 4px solid #fff;
    padding: 40px 30px 30px 30px;
    background-color: var(--wp--preset--color--dark-blue);
    background-image: url(../../img/footer-popup-modal.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    color: #fff;
    display: none;
    @include desktop{
        bottom: 40px;
        right: 40px;
        padding: 40px 40px 30px 40px;
    }
    @include tablet-lg{
        padding: 40px 30px 30px;
        width: 455px;
    }
    @include mobile{
        width: 100%;
        max-width: 320px;
        bottom: 20px;
        right: 20px;
    }
    &__body{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        @include mobile{
            gap: 20px;
        }
    }
    &__close-button{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 34px;
        height: 34px;
        border-radius: 10px;
        background-color: var(--wp--preset--color--dark-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        font-size: 24px;
        @include tablet-lg{
            top: 16px;
            right: 16px;
            width: 20px;
            height: 20px;
            font-size: 20px;
        }
    }
    &__title{
        font-size: 32px;
        font-weight: 600;
        max-width: 100%;
        padding-right: 40px;
        @include mobile{
            font-size: 24px;
        }
        @include mobile-sm{
            font-size: 20px;
        }
    }
    &__text{
        font-family: $font-family-secondary;
        font-size: 16px; 
    }
    .button-text{
        font-weight: 700;
    }
}