@import "_variable";


h1, .h1 {
  font-size: 80px;
  letter-spacing: -0.04em;
  line-height: 110%;
  font-weight: $font-weight-semibold;
}

h2, .h2 {
  font-size: 60px;
  letter-spacing: 0px;
  line-height: 110%;
  font-weight: $font-weight-regular;
}

h3, .h3 {
  font-size: 56px;
  letter-spacing: -0.04em;
  line-height: 110%;
  font-weight: $font-weight-regular;
}

h4, .h4 {
  font-size: 34px;
  letter-spacing: -0.02em;
  line-height: 130%;
  font-weight: $font-weight-regular;
}

h5, .h5 {
  font-size: 30px;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: $font-weight-semibold;
}

h6, .h6 {
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: $font-weight-semibold;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: inherit;
    font-family: $font-family-primary;
    margin: 0px;
    strong{
        font-weight: $font-weight-bold;
    }
    code{
      font-family: $font-family-tertiary;
      font-weight: 700;
    }

}
p, .p {
    --wp--preset--font-size--large: 25px;
    font-weight: $font-weight-regular;
    font-size: 20px;
    line-height: 150%;
    color: inherit;
    letter-spacing: 0px;
    font-family: $font-family-secondary;
    margin: 0px;
    code{
      font-family: $font-family-tertiary;
    }
    &.has-small-font-size{
      letter-spacing: -0.07px;
      line-height: 142%;
    }
}


.section-heading{
  margin-top: 0px;
}

// Open Sans Font Weight Utility Classes
.font-light {
  font-weight: $font-weight-light !important;
}

.font-regular {
  font-weight: $font-weight-regular !important;
}

.font-bold {
  font-weight: $font-weight-bold !important;
}

.font-semibold {
  font-weight: $font-weight-semibold !important;
}

