@import "_variable";

// General Archive Styles
.blog {
  --header-h : 122px;

  @include tablet {
	--header-h : calc(114px + 20px); // top offset
  }

  .main {
	padding-top : var(--header-h);

	// Main Blog Heading
	h1.wp-block-heading {
	  margin-top  : max(40px, 3.75rem); // 60px

	  font-size   : max(24px, 2.5rem); // 40px
	  font-weight : 400;
	  line-height : 1.1;

	  color       : #000B40;

	  padding     : 0 30px;

	  @include mobile {
		margin-top : 40px;
		font-size  : 24px;

		padding    : 0 25px;
	  }

	  @include mobile-sm {
		max-width    : 320px;
		margin-left  : auto;
		margin-right : auto;
	  }
	}
  }
}

// Archive Hero Shortcode - Styles
.archive-hero {
  position                      : relative;
  overflow                      : hidden;

  --bs-archive-hero-pt          : max(20px, 3.75rem); // 60px
  --bs-archive-hero-pr          : max(20px, 3.75rem); // 60px
  --bs-archive-hero-pb          : max(30px, 3.75rem); // 60px
  --bs-archive-hero-pl          : max(20px, 3.75rem); // 60px

  --bs-archive-hero-wrapper-gap : max(16px, 46px); // 46px
  --bs-archive-hero-thumbs-w    : 37.5rem; // 600px

  margin-top                    : max(60px, 5rem); // 80px

  background-color              : #FFFFFF;
  border-radius                 : max(20px, 2.5rem); // 40px
  padding                       : var(--bs-archive-hero-pt) var(--bs-archive-hero-pr) var(--bs-archive-hero-pb) var(--bs-archive-hero-pl);

  &:before {
	content             : "";
	position            : absolute;
	left                : 0;
	bottom              : 0;

	background-image    : url("../../img/archive-hero-bg_desktop.svg");
	background-repeat   : no-repeat;
	background-position : center center;

	width               : 600px;
	height              : 419px;
  }

  @include mobile {
	--bs-archive-hero-pt          : 20px;
	--bs-archive-hero-pr          : 20px;
	--bs-archive-hero-pb          : 30px;
	--bs-archive-hero-pl          : 20px;

	--bs-archive-hero-wrapper-gap : 16px;

	margin-top                    : 60px;
	border-radius                 : 20px;
  }

  &__wrapper {
	grid-gap              : var(--bs-archive-hero-wrapper-gap);
	display               : grid;

	grid-template-columns : calc(100% - var(--bs-archive-hero-wrapper-gap) - var(--bs-archive-hero-thumbs-w)) var(--bs-archive-hero-thumbs-w);

	@include tablet-lg {
	  grid-template-columns : calc(50% - (var(--bs-archive-hero-wrapper-gap) * 0.5)) calc(50% - (var(--bs-archive-hero-wrapper-gap) * 0.5));
	}

	@include tablet {
	  grid-template-columns : 100%;
	}
  }

  // Left Column
  &__content {

	@include tablet {
	  order : 2;
	}
  }

  &__slide-content {
	gap            : max(16px, 1.25rem); //20px
	display        : flex;
	flex-direction : column;

	@include mobile {
	  gap : 16px;
	}
  }

  &__featured-badge {
	align-self       : flex-start;

	gap              : 8px;
	display          : flex;
	align-items      : center;

	padding          : 7.3px 12.8px;
	background-color : #FF654A;
	border-radius    : 20px;
	color            : #FFFFFF;

	font-family      : $font-family-tertiary;

	font-size        : var(--wp--preset--font-size--fs-tag); // -> 12px | 14px
	font-weight      : font-weight(medium);
	line-height      : 1.1;

	@include mobile {
	  font-size : 12px;

	  gap       : 4px;
	  padding   : 5.9px 11.7px;
	}

	svg {
	  @include mobile {
		width : 11px;
	  }
	}
  }

  &__title {
	font-size      : max(24px, 2.875rem); // 46px
	line-height    : 1.2;
	letter-spacing : calc(-1 * max(0.48px, 0.0575rem)); // -0.92px
	font-weight    : 600;

	color          : #000B40;

	@include mobile {
	  font-size : 24px;
	}

	a {
	  color           : inherit;
	  text-decoration : none !important;
	}
  }

  &__excerpt {
	font-family : $font-family-secondary;
	font-size   : font-size('base'); // 16px - unchanged on mobile
	font-weight : 400;
	line-height : 1.4;
  }

  // Right Column
  &__thumbnails {

	@include tablet {
	  order : 1;
	}
  }

  &__thumbnail {
	background-color : #F4F4F4;

	border-radius    : max(13.75px, 1.875rem); // 30px
	width            : 100%;
	overflow         : hidden;

	@include mobile {
	  border-radius : 13.75px;
	}

	img,
	&-placeholder {
	  object-fit      : cover;
	  object-position : 50% 50%;

	  width           : 100%;
	  height          : 100%;
	}

	&-placeholder {

	}
  }

  &__splide {

	// Left Column
	&--content {
	  height         : 100%;

	  display        : flex;
	  flex-direction : column;

	  .archive-hero__splide {

		&-track {

		}
	  }
	}

	// Right Column
	&--thumbnails {
	  height  : 100%;

	  display : flex;

	  .archive-hero__splide {

		&-slide {
		  display : flex;
		}
	  }
	}
  }

  // Splide Navigation Wrapper
  &__navigation {
	margin-top  : auto;
	padding-top : max(30px, 2.3125rem); // 37px

	gap         : max(10px, 1rem); // 16px
	display     : flex;
	align-items : center;

	@include mobile {
	  padding-top : 30px;
	  gap         : 10px;
	}
  }

  &__arrows {
	gap     : 10px;
	display : flex;
  }

  &__arrow {
	// Style reset
	position      : relative;
	top           : auto;
	left          : auto;
	right         : auto;
	transform     : none;
	background    : transparent;
	border-radius : 0;
	font-size     : 26px;
	opacity       : 1;

	// Styles
	display       : flex;

	height        : max(24px, 1.625rem); // 26px
	width         : max(24px, 1.625rem); // 26px

	color         : #000B40;

	transition    : opacity ease .3s;

	@include mobile {
	  height : 24px;
	  width  : 24px;
	}

	&:hover:not(:disabled),
	&:focus {
	  opacity : 0.7;
	}

	&--prev {

	}

	&--left {

	}

	svg {
	  stroke  : currentColor;
	  fill    : currentColor;

	  display : flex;
	}
  }

  &__counter {
	font-family          : $font-family-tertiary;
	font-size            : var(--wp--preset--font-size--fs-tag); // -> 12px | 14px
	font-weight          : font-weight(medium);
	line-height          : 1.1;

	font-variant-numeric : tabular-nums; // does nothing

	@include mobile {
	  font-size : 12px;
	}
  }

  // General
  &__content,
  &__thumbnails {

  }
}

// Blog Filter Shortcode - Styles
.blog-filter {
  margin-top : 60px; // same for mobile

  // Filters
  &__bar {
	--bs-filter-search-w : max(315px, 25rem); // 400px
	--bs-filter-gap      : max(30px, 5rem); // 80px
	--bs-filter-item-gap : max(10px, 1.25rem); // 20px

	font-family          : $font-family-tertiary; // -> 'Tomorrow'

	gap                  : var(--bs-filter-gap);
	display              : flex;

	@include tablet-lg {
	  flex-direction : column;
	}

	@include mobile {
	  --bs-filter-search-w : 315px;
	  --bs-filter-gap      : 30px;
	  --bs-filter-item-gap : 10px;
	}
  }

  &__search,
  &__categories {
	flex-grow   : 1;
	flex-shrink : 1;
  }

  // Filters - Search
  &__search {
	position   : relative;
	align-self : flex-start;

	flex-basis : var(--bs-filter-search-w);
	max-width  : var(--bs-filter-search-w);

	&-input {
	  height           : 60px;
	  padding          : 19px 20px !important;

	  border-radius    : 14px !important;
	  background-color : #FFFFFF;
	  box-shadow       : 4px 20px 60.6px 0 rgba(255, 101, 74, 0.10);

	  font-size        : font-size('base'); // -> 16px
	  font-weight      : font-weight('medium'); // -> 500
	  line-height      : 1.4;
	}

	.svg-icon {
	  stroke    : currentColor; // ToDo: Could be moved to _reset.scss

	  position  : absolute;
	  top       : 50%;
	  right     : 20px;
	  transform : translateY(-50%);
	}

	@include tablet-lg {
	  align-self : center;
	  flex-basis : auto;
	}
  }

  // Filters - Categories
  &__categories {
	flex-basis  : calc(100% - var(--bs-filter-search-w) - var(--bs-filter-gap));
	max-width   : calc(100% - var(--bs-filter-search-w) - var(--bs-filter-gap));

	gap         : var(--bs-filter-item-gap);
	display     : flex;
	align-items : center;

	@include tablet-lg {
	  align-self : center;
	  flex-basis : 100%;
	  max-width  : 100%;
	}

	@include tablet {
	  flex-direction : column;
	}
  }

  &__category-label {
	font-size   : font-size('xs'); // -> 12px
	font-weight : font-weight('bold'); // -> 500
	font-family : $font-family-tertiary; // -> 'Tomorrow'
	line-height : 1.1;

	color       : #000B40;
  }

  &__category-list {
	list-style : none;
	margin     : 0;
	padding    : 0;

	gap        : max(10px, 1.25rem); // 20px
	display    : flex;
	flex-wrap  : wrap;

	@include tablet {
	  justify-content : center;
	}

	@include mobile {
	  gap : 10px;
	}

	li {
	  display : flex;
	}
  }

  &__category-item {
	font-size        : var(--wp--preset--font-size--fs-tag); // -> 12px | 14px
	font-weight      : font-weight('medium'); // -> 500
	line-height      : 1.1;

	text-decoration  : none !important;

	padding          : 6.3px 12px;
	border           : 1px solid #000B40;
	border-radius    : 20px;

	color            : #000B40;
	background-color : transparent;
	transition       : color ease .3s, background-color ease .3s;

	@include mobile {
	  padding   : 3.9px 10.9px;
	  font-size : 12px;
	}

	&:hover,
	&:focus,
	&--active {
	  color            : #FFFFFF;
	  background-color : #000B40;
	}
  }

  // Grid
  &__grid {
	--bs-filter-grid-gap  : max(30px, 3.75rem); // 60px

	margin-top            : 60px; // same on mobile

	grid-gap              : var(--bs-filter-grid-gap);
	display               : grid;
	grid-template-columns : repeat(2, 1fr);

	@media only screen and (max-width : 920px) {
	  grid-template-columns : 100%;
	}
	@include mobile {
	  --bs-filter-grid-gap : 30px
	}
  }

  // Grid Item
  &-item {
	--bs-filter-item-pt : max(20px, 2.5rem); // 40px
	--bs-filter-item-pr : max(20px, 2.5rem); // 40px
	--bs-filter-item-pb : max(30px, 2.5rem); // 40px
	--bs-filter-item-pl : max(20px, 2.5rem); // 40px

	display             : flex;
	flex-direction      : column;

	border-radius       : max(20px, 2.5rem); // 40px
	color               : #000B40 !important;
	background-color    : #FFFFFF;

	padding             : var(--bs-filter-item-pt) var(--bs-filter-item-pr) var(--bs-filter-item-pb) var(--bs-filter-item-pl);

	@include mobile {
	  --bs-filter-item-pt : 20px;
	  --bs-filter-item-pr : 20px;
	  --bs-filter-item-pb : 30px;
	  --bs-filter-item-pl : 20px;

	  border-radius       : 20px;
	}

	// thumbnail
	&__image-link,
	&__image-placeholder {
	  aspect-ratio  : 460 / 245;

	  border-radius : max(13.75px, 1.4375rem); // 23px
	  overflow      : hidden;

	  @include mobile {
		border-radius : 13.75px
	  }
	}

	&__image-link {
	  position : relative;

	  img {
		position        : absolute;
		top             : 0;
		left            : 0;
		bottom          : 0;
		width           : 100%;

		object-fit      : cover;
		object-position : 50% 50%;
	  }
	}

	&__image-placeholder {
	  background-color : #F4F4F4;
	}

	// Content
	&__content {
	  flex-grow      : 1;

	  display        : flex;
	  flex-direction : column;
	}

	// meta
	&__meta {
	  font-family : $font-family-tertiary; // -> 'Tomorrow'
	  font-size   : var(--wp--preset--font-size--fs-tag); // -> 12px | 14px
	  font-weight : font-weight('medium'); // -> 500
	  line-height : 1.1;

	  margin-top  : max(16px, 1.25rem); // 20px

	  gap         : 10px;
	  display     : flex;
	  flex-wrap   : wrap;

	  align-items : center;

	  @include mobile {
		margin-top : 16px;
		font-size  : 12px;
	  }
	}

	&__categories {
	  gap       : 10px;
	  display   : flex;
	  flex-wrap : wrap;
	}

	&__category {
	  padding          : 7.3px 14px;
	  background-color : #000B40;
	  border-radius    : 20px;

	  color            : #FFFFFF;
	  text-decoration  : none !important;

	  @include mobile {
		padding : 4.9px 11.9px;
	  }
	}

	&__read-time {

	}

	// Title
	&__title {
	  margin         : max(18px, 1.25rem) 0 0; // 20px top

	  font-size      : max(24px, 1.875rem); // 30px
	  font-weight    : font-weight('semibold');
	  line-height    : 1.2;
	  letter-spacing : calc(-1 * max(0.48px, 0.0375rem)); // -0.6px

	  @include mobile {
		margin-top     : 18px;
		letter-spacing : -0.48px;
	  }

	  a {
		color           : inherit;
		text-decoration : none !important;
	  }
	}

	// Excerpt
	&__excerpt {
	  margin      : max(16px, 1.25rem) 0 0; // 20px top

	  font-family : $font-family-secondary;
	  font-weight : font-weight('regular');
	  font-size   : font-size('base'); // -> 16px
	  line-height : 1.4;

	  @include mobile {
		margin-top : 16px;
	  }
	}

	// Footer
	&__footer {
	  margin-top : auto;

	  .post-author {
		margin-top : 30px;
	  }
	}
  }

  // Load More Button
  &__load-more {
	margin-top      : 60px;

	display         : flex;
	justify-content : center;

	// Loading state
	&--loading {
	  position : relative;

	  &::after {
		content       : "";
		position      : absolute;
		left          : 50%;
		transform     : translateX(-50%) translateY(50%);
		top           : -45px;
		width         : 15px;
		aspect-ratio  : 1;
		border-radius : 50%;
		animation     : blog-filter-loader 1s infinite linear alternate;
	  }
	}
  }

  // Filter Bar Loading state
  &__bar--loading {
	position : relative;

	&::after {
	  content       : "";
	  position      : absolute;
	  left          : 50%;
	  transform     : translateY(50%) translateX(-50%);
	  bottom        : -30px;
	  width         : 15px;
	  aspect-ratio  : 1;
	  border-radius : 50%;
	  animation     : blog-filter-loader 1s infinite linear alternate;
	}
  }
}

// Loading animation (three-dot loader)
@keyframes blog-filter-loader {
  0% {
	box-shadow : 20px 0 #000B40, -20px 0 rgba(0, 11, 64, 0.13);
	background : #000B40;
  }
  33% {
	box-shadow : 20px 0 #000B40, -20px 0 rgba(0, 11, 64, 0.13);
	background : rgba(0, 11, 64, 0.13);
  }
  66% {
	box-shadow : 20px 0 rgba(0, 11, 64, 0.13), -20px 0 #000B40;
	background : rgba(0, 11, 64, 0.13);
  }
  100% {
	box-shadow : 20px 0 rgba(0, 11, 64, 0.13), -20px 0 #000B40;
	background : #000B40;
  }
}
