@import "_variable";

.page-template-events {
  --main-grid-gap : 3.75rem; // 60px

  .container--events-filter {
	max-width : calc(270px + var(--main-grid-gap) + 1140px + var(--main-grid-gap) + 270px + (var(--wp--preset--spacing--30) * 2));

	@media(max-width : 1840px) {
	  max-width : calc(1140px + var(--main-grid-gap) + 270px + (var(--wp--preset--spacing--30) * 2));
	}

	@media(max-width : 1440px) {
	  max-width : calc(1140px + (var(--wp--preset--spacing--30) * 2));
	}
  }

  .wp-block-group.container--events-filter {
	margin-top : max(40px, 5rem); // 80px

	@include mobile {
	  margin-top : 40px;
	}

	> .wp-block-group.is-layout-grid {
	  display               : grid;
	  grid-gap              : var(--main-grid-gap);
	  grid-template-columns : 270px 1fr 270px;
	  grid-template-areas   : "offset content sidebar";

	  @media(max-width : 1840px) {
		grid-template-columns : 1fr 270px;
		grid-template-areas   : "content sidebar";
	  }

	  @media(max-width : 1440px) {
		grid-template-columns : 100%;
		grid-template-areas   : "content";
	  }

	  // content
	  .wp-block-group.is-vertical {
		grid-area : content;

		gap       : 60px;
	  }

	  .events-sidebar {
		grid-area : sidebar;

		@media(max-width : 1440px) {
		  display : none;
		}
	  }
	}
  }

  // Events Archive - Hero
  .archive-hero {

	&__slide-content {
	  position : relative;

	  gap      : 12px;
	}

	&__featured-badge {
	  background   : transparent;
	  border-width : 2px;
	  border-style : solid;
	  border-color : #FF654A;

	  color        : #FF654A;
	}

	&__title {
	  margin-top : calc(16px - 12px);
	}

	&__excerpt {

	}

	.event-meta {
	  margin-top : calc(16px - 12px);
	}

	.btn {
	  margin-top : calc(20px - 12px);

	  &.has-coral-background-color {
		color : #FFFFFF;

		.button-arrow-wrapper {
		  color : var(--wp--preset--color--coral);
		}
	  }
	}

	&__thumbnails {
	  position    : relative;

	  display     : flex;
	  align-items : center;
	}

	&__thumbnail {
	  display      : flex;
	  aspect-ratio : 600 / 320;

	  &-image {

	  }
	}
  }

  // Events Archive - Filter
  .blog-filter {

	&__bar {
	  padding : 0;
	}

	&__categories {
	  justify-content : flex-end;
	}

	&__grid {
	  --bs-filter-grid-gap  : max(32px, 2.5rem); // 40px

	  max-width             : none;
	  padding               : 0;

	  grid-template-columns : repeat(3, 1fr);

	  @include tablet {
		grid-template-columns : repeat(2, 1fr);
	  }

	  @include mobile {
		grid-template-columns : 100%;
	  }
	}

	&-item {
	  --bs-filter-item-pt : max(20px, 1.5rem); // 24px
	  --bs-filter-item-pr : max(20px, 1.5rem); // 24px
	  --bs-filter-item-pb : max(24px, 1.875rem); // 30px
	  --bs-filter-item-pl : max(20px, 1.5rem); // 24px

	  flex                : 1 1 100%;

	  &__link {

	  }

	  &__title {
		margin-top : max(16px, 1.25rem); // 20px
	  }

	  &__excerpt {
		margin-top : 12px;
	  }

	  &__footer {
		margin-top : auto;

		.event-meta {
		  margin-top      : 16px;

		  gap             : 4px;
		  justify-content : space-between;
		}
	  }
	}
  }
}
