@import "../../../assets/scss/variable";

.hero-ty {
  --header-h      : 122px;

  @include tablet {
	--header-h : calc(114px + 20px); // top offset
  }

  margin-top      : calc(var(--header-h) + 30px); // Header spacing + design spacing

  --bs-content-pt : max(40px, 11.75rem); // 188px
  --bs-content-pr : 40px; // 40px
  --bs-content-pb : max(92px, 12.375rem); // 198px
  --bs-content-pl : 40px; // 40px

  @include tablet {
	--bs-content-pt : 40px;
	--bs-content-pb : 92px;
  }

  .container {
	max-width : 1720px;

	@include mobile {
	  padding : 0;
	}
  }

  &__wrapper {
	position : relative;
  }

  &__content {
	position       : relative;
	overflow       : hidden;

	margin         : 0 auto;

	background     : #FFFFFF;
	border-radius  : 40px;
	padding        : var(--bs-content-pt) var(--bs-content-pr) var(--bs-content-pb) var(--bs-content-pl);

	&:before {
	  content             : "";
	  position            : absolute;
	  bottom              : 0;

	  background-repeat   : no-repeat;
	  background-position : center;
	  background-size     : cover;

	  background-image    : url("../images/bg-thank_you-v2.png");
	  width               : 84.6875rem; // 1355px
	  height              : 23.6875rem; // 379px

	  left                : 0;

	  @include tablet {
		background-image : url("../images/bg-thank_you-responsive.png");

		width            : 1256px;
		height           : 921px;

		bottom           : auto;
		left             : -355px;

		top              : 140px;
	  }

	  @include mobile {
		background-image : url("../images/bg-thank_you-mobile.png");

		top              : auto;
		bottom           : -140px;
		left             : 0;

		width            : 100%;
	  }
	}

	gap            : 40px;
	display        : flex;
	flex-direction : column;
	align-items    : center;
  }

  &__backlink {
	// positioning
	position        : relative;

	// font
	font-family     : $font-family-tertiary;
	font-size       : max(10px, 0.875rem); // 14px
	line-height     : 1.27;
	font-weight     : 500;

	// style
	gap             : 5.5px;
	display         : flex;
	align-items     : center;

	margin-bottom   : 20px;

	text-decoration : none !important;
	color           : var(--wp--preset--color--dark-blue);

	transition      : color ease .3s;

	@include mobile {
	  padding-left : 30px;
	}

	&:hover,
	&:focus {
	  color : #FF654A;
	}

	svg {
	  transform : rotate(180deg);
	}
  }

  &__heading {
	position    : relative;

	font-family : $font-family-tertiary;
	font-size   : max(36px, 5rem); // 80px
	line-height : 1.1;
	font-weight : 700;
	text-align  : center;

	max-width   : 1080px;

	@include mobile {
	  font-size : 36px;
	}

	span {
	  color : #FF654A;
	}
  }

  &__subheading {
	position       : relative;

	font-family    : $font-family-primary;
	font-size      : max(24px, 3.75rem); // 60px
	line-height    : 1.1;
	letter-spacing : -1.2px;
	font-weight    : 400;
	text-align     : center;

	@include mobile {
	  font-size : 24px;
	}
  }
}

