// Import root CSS custom properties for editor
@import "../../../assets/scss/variable";
@import "../../../assets/scss/root";

.editor-styles-wrapper {
    @import "styles";
    .animation-layer.animation-layer--spline, .animation-layer.animation-layer--lottie{
        pointer-events: none;
    }
    .animation-section__container{
        z-index: 8;
    }
}  