@import "../../../assets/scss/variable";

.cta-newsletter {
  --bs-wrapper-pt : 4.625rem; // 74px
  --bs-wrapper-pr : 4.375rem; // 70px
  --bs-wrapper-pb : 4.5625rem; // 73px
  --bs-wrapper-pl : 4.375rem; // 70px

  /* declare this element as a size-based container */
  container-type  : inline-size;

  &__wrapper {
	position      : relative;
	overflow      : hidden;
	z-index       : 1;

	margin        : 0 auto;
	max-width     : 1496px;

	border-radius : max(50px, 4.375rem); // 70px
	padding       : var(--bs-wrapper-pt) var(--bs-wrapper-pr) var(--bs-wrapper-pb) var(--bs-wrapper-pl);
	//background    : linear-gradient(44deg, #FFF2D9 -9.95%, #FFD993 13.32%, #FF735B 49.01%);
	border: 1px solid red;


	&:before {
	  display             : none;

	  content             : "";
	  position            : absolute;
	  left                : 0;
	  bottom              : 0;

	  background-repeat   : no-repeat;
	  background-position : center;

	  background-image    : url("../images/cta_newsletter-bg--desktop.svg");
	  width               : 1496px;
	  height              : 386px;

	  @container (max-width: 768px) {
		background-image : url("../images/cta_newsletter-bg--mobile.svg");

		width            : 315px;
		height           : 317px;
	  }
	}

	@container (max-width: 768px) {
	  border-radius : 50px;
	}
  }

  &__content {
	position : relative;
	z-index  : 2;
  }

  &__heading {
	display     : block;
	color       : #FFFFFF;
	text-align  : center;

	margin      : 0 auto;
	max-width   : 58.75rem; // 940px

	font-family : $font-family-primary;
	font-size   : max(24px, 3.75rem); // 60px
	font-weight : normal;
	line-height : 1.1;

	@container (max-width: 768px) {
	  font-size : 24px;
	}

	strong {
	  font-family : $font-family-tertiary;
	  font-weight : 700;
	}
  }

  &__cf7-wrapper {
	margin-top : max(30px, 2.5rem); // 40px

	@container (max-width: 768px) {
	  margin-top : 30px;
	}

	// Class from CF7 - wrap input & submit
	.field-wrapper {
	  max-width : 320px;
	  margin    : 0 auto;
	}

	.submit-wrapper {

	}

	.wpcf7-form {

	  &-control {

	  }
	}
  }
}

